<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes.org - Add a quote</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Add a Quote</h1>
        <form method="post" action="/posts">
            <input type="text" name="name" id="" placeholder="Enter Name">
            <textarea name="quote" id="">Enter a Quote</textarea>
            <button>Submit</button>
        </form>
        <a class="add" href="http://localhost:8080/posts">&larr; Back</a>
</body>

</html>